.movie-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: start;
	flex-direction: row;
	flex-wrap: nowrap;
	overflow: hidden;
	border-radius: 10px;
	padding: 0.5em;
	margin: 0.2em auto 2em;
	color: white;
	background: rgb(4, 26, 43);
	box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.7),
		5px 5px 10px rgba(0, 0, 0, 0.7);
}

.movie-thumbnail {
	width: 460px;
	overflow: hidden;
}
.movie-thumbnail img {
	position: relative;
	height: 100%;
	width: 100%;
	object-fit: cover;
	padding: 0.2em;
}
.movie-body {
	width: 100%;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	font-size: 16px;
	color: #ffffff;
}

.movie-title {
	color: #e8e8e8;
	font-size: 22px;
	letter-spacing: 5px;
}
p {
	margin-top: -5px;
}
p span {
	margin-right: 10px;
}

.movie-description {
	text-align: justify;
}

.trailer {
	background: #010e1a;
	color: #eceef0;
	border: 2px solid #a4a49f;
	padding: 10px 25px;
	border-radius: 10px;
	transition: 0.2s ease;
}

.trailer:hover {
	background: #258df4;
	color: #000;
}

h3 {
	display: block;
	font-size: 2.5rem;
	margin: 0.1em auto;
	padding: 0.5rem 0.2rem;
	color: rgb(254, 254, 254);
	text-align: left;
	background-color: rgb(3, 10, 13);
	margin-top: 1rem;
}

@media screen and (max-width: 600px) {
	.movie-wrapper {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.movie-thumbnail {
		width: 310px;
	}
	.movie-thumbnail img {
		height: 100%;
		width: 100%;
	}
	.movie-body {
		width: 85%;
		padding: 1rem;
	}
}
